<!DOCTYPE html>
<html>
  <head>
    <title>Cities</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cities</h1>
    <p><%= cities %></p>
  </body>
</html>
