
	<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Congraculations!</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a [routerLink]="['/login']">Sign In</a></div>
            </div>
            <div class="panel-body">
                You have signed up successfully. <a [routerLink]="['/login']">Proceed to login page.</a>
            </div>
        </div>
    </div>